@charset "utf-8";
  
body {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}


a {
  color: #2ECC87;
  text-decoration: none;
}

a:visited {
  color: #788d98;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #2ECC87;
  width: 100%;
  height: 100px;
  margin: 0 auto;
}

.global-nav {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  
}

.global-nav li {
  float: left;
  margin: 0 20px;
  font-size: 20px;
  list-style: none;
  font-family: 'Bitter', serif;
}

.global-nav li a {
  color: #ffffff;
}

.global-nav li a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 3px;
  text-decoration: none;
}

#wrap {
  clear: both;
  background-color: #ffffff;
  margin-top: 20px;
  padding: 35px 0;
}

.content {
  width: 960px;
  margin: 0 auto;
}

footer {
  text-align: center;
  color: black;
  padding: 20px 0;
}

footer small {
  font-size: 12px;
}

#index h1 {
  font-size: 100px;
  line-height: 1;
  color: #ffffff;
  font-family: 'Bitter', serif;
  margin-bottom: 50px;
  border: none;
}

#index .content {
  margin-top: 30px;
}

#index p {
  font-size: 16px;
  color: #ffffff;
}

.btn a {
  background: #2ECC87;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Bitter', serif;
  width: 185px;
  display: block;
  text-align: center;
  line-height: 50px;
  margin: 50px 50px 0 auto;
  border-radius: 5px;
}

.btn a:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #2ECC87;
}

#index footer {
  width: 960px;
  margin: 300px auto 0 auto;
  text-align: center;
  background-color: transparent;
}

#index {
  background-image: url(../images/IMG_8476.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#about {
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

.main-center {
  width: 940px;
  margin: 0 auto;
}

h1 {
  font-family: 'Bitter',serif;
  font-size: 36px;
  border-bottom: 1px solid #cccccc;
}

h2 {
  font-family: 'Bitter',serif;
  font-size: 24px;
}

.icon:before{
  content:"";
  padding-right: 10px;
  border-left: 7px solid #2ECC87;
}

#about .profile-txt {
  width: 540px;
  float:left;
}

#about .profile-txt span {
  font-weight: bold;
}

#about .profile-image {
  float:right;
}

.clearfix:after {
  content:"";
  display:block;
  clear:both;
}

section {
  margin-bottom: 35px;
}

#about .career th {
  width: 240px;
  background-color: #f0f0f0;
  padding: 12px 0;
  border:1px solid #cccccc;
}

#about .career td {
  width: 660px;
  padding: 12px 0 12px 40px;
  border: 1px solid #cccccc;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

#index #wrap {
  background-color: transparent;
  margin-top: 0;
  padding: 0;
}

#portfolio {
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

.main {
  width: 700px;
  margin: 0 10px;
  float: left;
}

.sidebar {
  width: 200px;
  margin: 0 10px 0 30px;
  float: right;
  font-family: 'Bitter', serif;
}

a img:hover {
  opacity: 0.8;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar ul {
  font-size: 16px;
  margin-left: 20px;
}

.sidebar ul a {
  color: #333333;
}



























#contact {
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;  
}

#contact .access table {
  float: left;
}

#contact .access th,
#contact .access td {
  text-align: left;
  vertical-align: top;
  line-height: 2.5;
}

#contact .access td {
  padding-left: 30px;
}

#contact .access iframe {
  width: 460px;
  float: right;
}

#contact .form {
  background-color: #eaeaea;
  padding: 30px 50px;
}


#contact .form dl dt {
  width: 165px;
  padding: 10px 0;
  float: left;
  clear: both;
}

#contact .form dl dd {
  padding: 10px 0;
}

#contact .form .name {
  width: 240px;
  height: 30px;
}

#contact .form .email {
  width: 300px;
  height: 30px;
}

#contact .form .tel {
  width: 240px;
  height: 30px;
}

#contact .form .type {
  width: 180px;
  height: 30px;
}

#contact .form .message {
  width: 660px;
  height: 150px;
}

#contact .form button {
  background: #2ECC87;
  color: #ffffff;
  font-size: 20px;
  width: 120px;
  display: block;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  margin-left: 165px;
}

#contact .form button:hover {
  background-color: #ffffff;
  color: #2ECC87;
  cursor: pointer;
}

#contact .form .required:after {
  content: "✳︎";
  color: #ff0000;
}

#contact .form .attention {
  margin: 20px 0 0 165px;
}

@media screen and (max-width:600px) {
  body {
    font-size: 3.5vw;
    background-color: #rgb;
  }
  h1 {
    font-size: 7.2vw;
  }
  h2 {
    font-size: 6vw;
  }
  header {
    width:auto;
    margin:0 5%;
  }
  .global-nav li {
    display: inline;
    float: none;
    text-align:center;
    margin: 0 auto;
    padding: 0 10px;
  }
  #wrap {
    margin-top: 10px;
    padding: 5px;
  }
  .content {
    width:100%;
  }
  
  .main {
    float : none;
    width: auto;
    margin: 0 5%;
  }
  
  h2 img {
    max-width: 100%;
  }
  
  .sidebar {
    width: auto;
    float: none;
    margin:0;
    padding: 30px 10% 10px;
  }
  
  
  

  
  
}





